
.main__header__themeSection {
    display: flex;
    justify-content: space-between;
    padding: 1.7rem clamp(1rem, 5vw, 3rem);
  
    .main__header__heading {
      font-size: clamp(1rem, 0.8005475rem + 1.3309vw, 2rem);
      .main__header__headingBtn {
        all: unset;
      }
    }
  
    .main__header--themeToggle {
      all: unset;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
  
      .lightMoon {
        margin-right: .5rem;
      }
  
    }
  }
  
  .main__header__dropdownContainer {
    width: 13.125rem;
    font-size: clamp(.875rem, .8333975rem + .1849vw, 1rem);
    margin-top: 3rem;
    position: relative;
    @media (min-width:62rem) {
      margin-top: 0rem !important;
    }
  
    .dropdown-btn {
      all: unset;
      display: flex;
      justify-content: space-around;
      width: calc(100% - 1.6rem);
      padding: .8rem;
      cursor: pointer;
      text-align: center;
      border-radius: 5px;
      font-weight: 600;
      -webkit-tap-highlight-color: transparent;
      .arrow {
        transition: .5s;
      }
    }
  
    .dropdown-items {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: .3rem;
      list-style-type: none;
      border-radius: 0.3125rem;
      cursor: pointer;
      height: 0rem;
      overflow: hidden;
      padding-block: 0rem;
      position: absolute;
      z-index: 10;
      -webkit-tap-highlight-color: transparent;
      @media (min-width:62rem) {
       transition: .2s;
      }
    
      li {
        padding-inline-start: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        height: 10vh !important;
        &:hover {
          opacity: .8;
        }
        @media (min-width:992px) {
          height: 2.5625rem;
         }
      }
    }
  }
  
  .main__header__searchSection {
    margin: 1rem clamp(1rem, 5vw, 3rem);
    margin-top: 2rem;
    @media (min-width:62rem) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .main__header__inputContainer {
      width: 100%;
      height: 3.125rem;
      padding: 1rem;
      display: flex;
      border-radius: 0.3125rem;
      @media (min-width:62rem) {
        width: 30%;
        &:hover {
        box-shadow: 0rem 0.625rem 1.25rem 0.125rem rgb(0 0 0 / 25%) !important;
        }
      }
      
      form{
        width: 100%;
        display: flex;
        #inputCountry {
          border: none;
          outline: none;
          margin-left:2.5rem ;
          width: calc(100% - 2rem);
          height: 1.25rem;
          font-size: clamp(.875rem, .8333975rem + .1849vw, 1rem);
  
        }
  
      }
    }
  
  
  }
  
  .main__header {
    .body-blur {
      transition: .5s all;
    }
  }
  