$Dark-Blue_Dark-Mode-Elements: hsl(209, 23%, 22%);
$Very-Dark-Blue_Dark-Mode-Background: hsl(207, 26%, 17%);
$Very-Dark-Blue_Light-Mode-Text: hsl(200, 15%, 8%);
$Dark-Gray_Light-Mode-Input: hsl(0, 0%, 52%);
$Very-Light-Gray_Light-Mode-Background: hsl(0, 0%, 98%);
$White_Dark-Mode-Text-and-Light-Mode-Elements: hsl(0, 0%, 100%);