@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.light-theme {
  background-color: hsl(0deg, 0%, 98%) !important;
  color: hsl(200deg, 15%, 8%);
}
.light-theme .main__header__themeSection {
  background-color: hsl(0deg, 0%, 100%);
}
.light-theme .main__header__inputContainer {
  background-color: hsl(0deg, 0%, 100%);
}
.light-theme .dropdown-btn {
  background-color: hsl(0deg, 0%, 100%) !important;
}
.light-theme .dropdown-btn:active {
  scale: 0.95;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
@media (min-width: 992px) {
  .light-theme .dropdown-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25) !important;
  }
}
.light-theme .dropdown-items {
  background-color: hsla(0deg, 0%, 100%, 0.96);
}
.light-theme .region-active {
  background: rgba(3, 169, 244, 0.8117647059) !important;
  color: white !important;
}
.light-theme .countryDetails {
  background-color: hsl(0deg, 0%, 100%);
}
.light-theme #inputCountry {
  background-color: hsl(0deg, 0%, 100%);
}
.light-theme .countryContainer:active {
  scale: 0.95;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
@media (min-width: 992px) {
  .light-theme .countryContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25) !important;
  }
}
.light-theme .load-more-btn {
  color: black;
}
.light-theme .dropdown-items {
  background-color: hsla(0deg, 0%, 100%, 0.96);
}
.light-theme .main__header__themeSection, .light-theme .main__header__inputContainer, .light-theme .dropdown-btn, .light-theme .dropdown-items, .light-theme .countryDetails {
  box-shadow: 0 0 10px 5px rgba(173, 167, 167, 0.1), 0px 15px 10px -15px rgba(173, 167, 167, 0.3) !important;
}
.light-theme ::-moz-placeholder {
  color: hsla(0deg, 0%, 52%, 0.5);
  font-weight: 400;
}
.light-theme ::placeholder {
  color: hsla(0deg, 0%, 52%, 0.5);
  font-weight: 400;
}

.dark-theme {
  background-color: hsl(207deg, 26%, 17%) !important;
  color: hsl(0deg, 0%, 100%);
}
.dark-theme .main__header__themeSection {
  background-color: hsl(209deg, 23%, 22%);
}
.dark-theme .main__header__inputContainer {
  background-color: hsl(209deg, 23%, 22%);
}
.dark-theme .dropdown-btn {
  background-color: hsl(209deg, 23%, 22%) !important;
}
.dark-theme .dropdown-btn:active {
  scale: 0.95;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
@media (min-width: 992px) {
  .dark-theme .dropdown-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25) !important;
  }
}
.dark-theme .dropdown-items {
  background-color: hsla(0deg, 0%, 100%, 0.96);
}
.dark-theme .region-active {
  background: white !important;
  color: black !important;
}
.dark-theme .countryDetails {
  background-color: hsl(209deg, 23%, 22%);
}
.dark-theme #inputCountry {
  background-color: hsl(209deg, 23%, 22%);
}
.dark-theme .countryContainer:active {
  scale: 0.95;
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
@media (min-width: 992px) {
  .dark-theme .countryContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25) !important;
  }
}
.dark-theme .load-more-btn {
  color: white;
}
.dark-theme .lightMoon, .dark-theme .searchIcon, .dark-theme .arrowIcon {
  fill: white !important;
}
.dark-theme .dropdown-items {
  background-color: hsla(209deg, 23%, 22%, 0.96);
}
.dark-theme .main__header__themeSection, .dark-theme .main__header__inputContainer, .dark-theme .dropdown-btn, .dark-theme .dropdown-items, .dark-theme .countryDetails {
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.2) !important;
}
.dark-theme ::-moz-placeholder {
  color: hsla(0deg, 0%, 52%, 0.5);
  font-weight: 400;
}
.dark-theme ::placeholder {
  color: hsla(0deg, 0%, 52%, 0.5);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-placeholder {
  color: hsla(0deg, 0%, 52%, 0.5);
  font-weight: 400;
}

::placeholder {
  color: hsla(0deg, 0%, 52%, 0.5);
  font-weight: 400;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.main__header .main__header__themeSection {
  display: flex;
  justify-content: space-between;
  padding: 1.7rem clamp(1rem, 5vw, 3rem);
}
.main__header .main__header__themeSection .main__header__heading {
  font-size: clamp(1rem, 0.8005475rem + 1.3309vw, 2rem);
}
.main__header .main__header__themeSection .main__header--themeToggle {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.main__header .main__header__themeSection .main__header--themeToggle .lightMoon {
  margin-right: 0.5rem;
}
.main__header .main__header__searchSection {
  margin: 1rem clamp(1rem, 5vw, 3rem);
  margin-top: 2rem;
}
@media (min-width: 992px) {
  .main__header .main__header__searchSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.main__header .main__header__searchSection .main__header__inputContainer {
  width: 100%;
  height: 50px;
  padding: 1rem;
  display: flex;
  border-radius: 5px;
}
@media (min-width: 992px) {
  .main__header .main__header__searchSection .main__header__inputContainer {
    width: 30%;
  }
  .main__header .main__header__searchSection .main__header__inputContainer:hover {
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25) !important;
  }
}
.main__header .main__header__searchSection .main__header__inputContainer form {
  width: 100%;
  display: flex;
}
.main__header .main__header__searchSection .main__header__inputContainer form #inputCountry {
  border: none;
  outline: none;
  margin-left: 2.5rem;
  width: calc(100% - 2rem);
  height: 20px;
  font-size: clamp(0.875rem, 0.8333975rem + 0.1849vw, 1rem);
}
.main__header .main__header__searchSection .main__header__dropdownContainer {
  width: 210px;
  font-size: clamp(0.875rem, 0.8333975rem + 0.1849vw, 1rem);
  margin-top: 3rem;
  position: relative;
}
@media (min-width: 992px) {
  .main__header .main__header__searchSection .main__header__dropdownContainer {
    margin-top: 0rem !important;
  }
}
.main__header .main__header__searchSection .main__header__dropdownContainer .dropdown-btn {
  all: unset;
  display: flex;
  justify-content: space-around;
  width: calc(100% - 1.6rem);
  padding: 0.8rem;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  -webkit-tap-highlight-color: transparent;
}
.main__header .main__header__searchSection .main__header__dropdownContainer .dropdown-btn .arrow {
  transition: 0.5s;
}
.main__header .main__header__searchSection .main__header__dropdownContainer .dropdown-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.3rem;
  list-style-type: none;
  border-radius: 5px;
  cursor: pointer;
  height: 0px;
  overflow: hidden;
  padding-block: 0rem;
  position: absolute;
  z-index: 10;
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 992px) {
  .main__header .main__header__searchSection .main__header__dropdownContainer .dropdown-items {
    transition: 0.2s;
  }
}
.main__header .main__header__searchSection .main__header__dropdownContainer .dropdown-items li {
  -webkit-padding-start: 1.5rem;
          padding-inline-start: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  height: 10vh !important;
}
.main__header .main__header__searchSection .main__header__dropdownContainer .dropdown-items li:hover {
  opacity: 0.8;
}
@media (min-width: 992px) {
  .main__header .main__header__searchSection .main__header__dropdownContainer .dropdown-items li {
    height: 41px;
  }
}
.main__header .body-blur {
  transition: 0.5s all;
}

.main__section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem clamp(2rem, 5vw, 3rem);
  gap: 4rem;
}
@media (max-width: 767px) {
  .main__section1 {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
}
.main__section1 a {
  all: unset;
  display: contents;
}
.main__section1 .spinnerContainer {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - clamp(2rem, 5vw, 3rem));
  height: 100vh;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.main__section1 .spinnerContainer .spinner {
  font-size: 3.5rem;
}

.countryContainer {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  width: min(100%, 287px);
}
@media (max-width: 760px) {
  .countryContainer {
    width: min(100%, 420px) !important;
  }
}
@media (min-width: 760px) and (max-width: 850px) {
  .countryContainer {
    width: min(100%, 313px);
  }
}
.countryContainer .countryFlagContainer {
  box-shadow: 0px 0px 7px 5px rgba(162, 142, 142, 0.031372549);
  width: 100%;
}
.countryContainer .countryFlagContainer .countryFlag {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 243px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media (min-width: 760px) {
  .countryContainer .countryFlagContainer .countryFlag {
    height: 191px;
  }
}
.countryContainer .countryDetails {
  height: 210px;
  padding: 1.7rem 1.5rem 2.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.countryContainer .countryDetails .countryName {
  font-weight: 900;
  font-size: clamp(1.3rem, 1.233445rem + 0.2958vw, 1.5rem);
}
.countryContainer .countryDetails p {
  font-weight: 400;
  font-size: 14px;
}
.countryContainer .countryDetails p span {
  font-weight: 600;
  margin-right: 0.3rem;
}

.main__countriesLoaderAnimation {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main__countriesLoaderAnimation .loader {
  position: relative;
}
.main__countriesLoaderAnimation .loader::after, .main__countriesLoaderAnimation .loader::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  border-radius: 50%;
}
.main__countriesLoaderAnimation .loader::before {
  background-color: rgb(231, 114, 114);
  left: 0;
  translate: 10px;
  animation: moveLeft 1s ease infinite;
}
.main__countriesLoaderAnimation .loader::after {
  background-color: lightgreen;
  right: 0;
  translate: -10px;
  animation: moveRight 1s ease infinite;
}
@keyframes moveLeft {
  0% {
    translate: 10px;
  }
  50% {
    translate: -10px;
    background-color: rgba(231, 114, 114, 0.5);
  }
  100% {
    translate: 10px;
  }
}
@keyframes moveRight {
  0% {
    translate: -10px;
  }
  50% {
    translate: 10px;
    background-color: rgba(144, 238, 144, 0.5);
  }
  100% {
    translate: -10px;
  }
}

.main__Section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
}
.main__Section2 .load-more-btn {
  all: unset;
  padding-inline: 1rem;
  padding-block: 0.6rem;
  font-weight: 600;
  cursor: pointer;
  display: none;
  position: relative;
}
.main__Section2 .load-more-btn:active {
  scale: 0.9;
  transition: 0.1s;
}
.main__Section2 .load-more-btn::after {
  content: "";
  transition: 0.3s;
  display: block;
  width: 100%;
  height: 2px;
  background-color: red;
}
.main__Section2 .load-more-btn:hover::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: red;
}

.dropdown-toggle-desk {
  height: 205px !important;
}

@media (max-width: 992px) {
  .dropdown-items-tab {
    width: 90vw !important;
    height: 50vh !important;
    top: -10px;
  }
}
@media (max-width: 992px) {
  .dropdown-items-tab li {
    border-bottom: 1px solid rgba(214, 207, 207, 0.18);
  }
}

@media (max-width: 992px) {
  .bg-overlay-tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.error_display_text {
  color: red;
  font-weight: 700;
  margin: auto;
  margin-top: 20vh;
  font-size: 1.3rem;
}

@media (max-width: 767px) {
  .country--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
}/*# sourceMappingURL=main.css.map */